<!DOCTYPE HTML>
<html ng-app="Cafe">
<head>
  <title>Project Cafe</title>
  <link rel="stylesheet" type="text/css" href="dist/css/main.css">
  <script src="dist/js/main.js"></script>
  <!-- endbuild -->
</head>
<body ng-controller="MainController" ng-cloak>

  <header role="banner">

    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <h1>Hello, Project Cafe! <a href="https://github.com/matt-e-king/Project-Cafe" target="_blank">(fork this project)</a></h1>
          <p>Create Angular Forms Easily, great job.</p>
        </div>
      </div>

    </div>

  </header>


  <div ng-controller="CafeFormController" role="main">

    <div class="container-fluid top menu">

        <div class="container">
          <div class="row">
            <div class="col-xs-12">
            
              <ul class="nav nav-tabs">
                <li class="active">
                  <button data-target="#fields" class="btn btn-default" role="tab" data-toggle="tab">
                    Fields
                  </button>
                </li>
                <li>
                  <button data-target="#formats" class="btn btn-default" role="tab" data-toggle="tab">
                    Formatting
                  </button>
                </li>
                <li>
                  <button data-target="#settings" class="btn btn-default" role="tab" data-toggle="tab">
                    Form Settings
                  </button>
                </li>
                <li>
                  <button data-target="#output" class="btn btn-default" role="tab" data-toggle="tab" ng-click="getJSON(); loadHTML();">
                    Output
                  </button>
                </li>
              </ul>

            </div>
          </div>
        </div>

    </div>

    <div class="container-fluid bottom menu">

        <div class="container">

          <div class="row">

            <div class="tab-content col-xs-12">

              <ul id="fields" class="tab-pane fade in active">
                <li ng-repeat="(key, value) in fieldDefinitions.list">
                  <button class="btn btn-default" ng-click="addNewSection(key, 'fields')">
                    {{key | capitalize:true}} +
                  </button>
                </li> 
              </ul>

              <ul id="formats" class="tab-pane fade">
                <li ng-repeat="(key, value) in formatDefinitions.list">
                  <button class="btn btn-default" ng-click="addNewSection(key, 'formats')">
                    {{key | capitalize:true}} +
                  </button>
                </li> 
              </ul>

              <div id="settings" class="tab-pane fade">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="">Form Id</label>
                      <input type="text" class="form-control" ng-model="settings.id">
                    </div>
                    <div class="form-group">
                      <label for="">Field Model</label>
                      <input type="text" class="form-control" ng-model="settings.fieldModel">
                    </div>
                  </div>
                </div>
              </div>

              <div id="output" class="tab-pane fade">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="json">JSON</label>
                      <textarea id="json" name="json" rows="10" class="form-control"></textarea>
                    </div>
                    <button class="btn btn-default" ng-click="getJSON()">Refresh</button>
                    <button class="btn btn-default" ng-click="loadJSON()">Load JSON</button>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="html">HTML</label>
                      <textarea id="html" name="html" rows="10" class="form-control"></textarea>
                    </div>
                    <button class="btn btn-default" ng-click="loadHTML()">Load HTML</button>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="container forms">

        <div ng-view>
          
        </div>

        <button class="btn btn-primary" ng-click="refresh()">Refresh</button>

      </div>

    </div>



    <div id="htmlCopy" style="display:none;">
      <form ng-submit="contactSubmit()" id="{{settings.id}}" name="{{settings.id}}" novalidate>
        
      </form>
    </div>

  </div>
  
</body>
</html>