<div class="form-group col-sm-{{field.meta.width.value}}" ng-show="{{field.meta.conditional.whichField}} {{field.meta.conditional.operator}} {{field.meta.conditional.value}}">

  	<label for="{{field.meta.id.value}}">
      {{field.content.label.value}} {{field.meta.required.value ? '*' : ''}} 
    </label>

    <div class="checkbox" ng-repeat="option in field.content.options.value track by $index">
      <label>
        <input type="checkbox" 
                name="{{field.meta.id.value}}{{$index}}" 
                id="{{field.meta.id.value}}{{$index}}" 
                value="{{option}}" 
                ng-required="field.meta.required.value"
                ng-model="field.content.value.value[$index]">
        {{option}}
      </label>
    </div>

  </div>

</div>